.jumbotron{
    height: 80px;
    background-image: image();
    background: powderblue;
}
.navbar ul{
    float: right;
}
.navbar ul li{
    list-style-type: none;
    display: inline-block;
}
.card-body{
    padding: 0;
}
img{
    width: 100%;
    padding: 0;
    margin: 0;
}
h6{
    margin-bottom: 0;
}
.card-body form{
    float: right;
    width: 34%;
    padding-left: 1%;
}
.card-body details{
    float: right;
    width: 35%;
}
.card-body img{
    width: 100%;
}
.rows{
    background-color: rgb(131, 9, 9);
    padding: 10px;
}
#slider{
    width: 80%;
    height: 400px;
  background-color: #9eb7f0;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0px;
}


#slider{
height: 480px;
    overflow: hidden;
   
}
#slider figure div{
  float: left;  
    width: 20%;
}
#slider figure img{
    width: 100%;
    float: left;
    height: 100%;
    border-radius: 0%;
}  
#slider figure{
    position: relative;
    width: 500%;
    margin: 0px;
    left: 0;
    animation: 50s ravi infinite;
    
}

  @keyframes ravi { 
      0%{
        left: 0%;  
      }
     10%{
         left: 0%;   
      }
    12%{
          left: -100%;  
      }
     22%{
          left: -200%;  
      }
     24%{
           left: -200%; 
      }
     34%{
           left: -200%; 
      }
     36%{
           left: -300%; 
      }
     46%{
           left: -300%; 
      }
     48%{
           left: -400%; 
      }
     58%{
           left: -400%; 
      }
    60%{
          left: -300%;  
      }
     70%{
           left: -300%; 
      }
      72%{
           left: 200%; 
      }
     82%{
           left: -200%; 
      }
     84%{
           left: -100%; 
      }
     94%{
           left:-100%; 
      }
     96%{
           left: 0%; 
      }

  }
  form{
      width: 40%;
      margin: 0 auto;
      
        height: 500px;
        background-image: url(/images/img8.jpeg);
        margin-top: 10px;
        
  }
  .custom-select{
      margin-bottom: 10px;
  }
  #senddata{
      width: 60%;
      margin-right: 20%;
  }

  .deliver,
.delivernot {
    margin: 10px;
}

h4 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

#order-pizza {
    padding: 20px 50px 20px 50px;
    font-family: 'Love Ya Like A Sister', cursive;
}

.order-overlay {
    margin-left: 15%;
    padding: 20px 20px 0px 20px;
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.616)), url('https://bit.ly/2PQg72Z');
}

.checkout {
    border-radius: 20px;
    margin-top: 20px;
}
pizza_form{
    width: 60%;
    margin-left: 20%;
}